@tailwind base;
@tailwind components;
@tailwind utilities;

h1{font-size: 28px;font-weight:700}
h2{font-size: 24px;font-weight:700}
h3{font-size: 20px;font-weight:700}
h4{font-size: 18px;font-weight:700}
h5{font-size: 16px;font-weight:700}
h6{font-size: 14px;font-weight:700}
